* {
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
}

.App {
  flex-wrap: wrap;
  overflow: auto;

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: relative;
width: 1280px;
height: 790px;

}
